.chat-button {
    position: fixed; /* Set the position to fixed */
    bottom: 20px; /* Adjust as per your requirement */
    right: 20px; /* Adjust as per your requirement */
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    z-index: 999; /* Ensure the button appears on top of other content */
  }
  
/* Style the chat popup */
.chat-popup {

    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 3px solid #f1f1f1;
    z-index: 999; /* Ensure the popup appears on top of other content */
    background-color: rgba(255, 255, 255, 0.6);


    width: 400px; /* Adjust the width as per your requirement */
  height: 600px; /* Adjust the height as per your requirement */
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
  padding: 15px; /* Add padding to the chat popup content */
  }


  .chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
}
  .chat-container {
    padding: 10px;
  }

  .chat-input input[type="text"] {
    width: 60%;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}