.pdf-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.pdf-list .button:first-child {
    flex-grow: 1;
    flex-basis: 80%;
    min-width: 0;
    /* Add this line */
    margin-right: 5px;
}

.pdf-list .button:last-child {
    flex-basis: 20%;
    min-width: 0;
    /* Add this line */
    margin-left: 5px;
}