h1{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  color: #01382E;
}

.form{
  justify-content: center;
}

.form > div {
  margin: 0 0 1rem 0;
}

.button {
  background-color: white !important;
  border: 1px solid #01382E !important;
  color: #01382E !important;
  font-weight:700 !important;
}

.button:hover {
  background-color: white;
}

#fileInputLabel:hover{
  cursor:pointer;
}

.profile-container{
  margin: 2rem 0 10rem 0;
}

.left-section {
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 2rem;
}

.left-section-header{
  font-size:2.5rem;
  font-weight:500;
  color:#01382E;
  padding: 0 0 1rem 0;
}

.left-section-details{
  display: inline-block;
  text-align: left;
  font-size:1.25rem;
}

.about-me{
  /* height:13rem; */
  padding:2vh;
  position:relative;
}

.right-section-header{
  font-size:1.5rem;
  font-weight:500;
  color:#01382E;
  text-align: left;
  padding: 1rem 0 0 0;
}

.core-concerns{
  /* height: 23rem; */
  padding:2vh;
  position:relative;
}

.concern-textbox{
  margin: 2vh 0 2vh 0;
}
