*,
*::before,
*::after {
  box-sizing: border-box;
}

.img-slider-img {
  margin:2vh 0 0 0;
  border-radius:1rem;
  object-fit: cover;
  width: 100%;
  max-height: 85vh;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}

.image-btns > button {
  background-color: transparent;
  border: 2px solid white; /* Adding white border */
  border-radius: 2rem; /* Adding border radius */
  color: white;
  padding: 0 1rem 0 1rem;
  margin: 0 1rem 0 0;
  font-size: 16px;
  cursor: pointer;
}

.gradient {
  border-radius:1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%; /* Adjust the height of the gradient as needed */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgb(4, 38, 1, 0.8) 100%);
}

.caption {
  color:white;
  font-family : "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem;
  width:40rem;
  text-align:left;
}

.img-slider-dot-btn {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: transform 100ms ease-in-out;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible {
  scale: 1.2;
}

.img-slider-dot-btn > * {
  width: 2rem; /* Adjust width as needed */
  height: 0.5rem; /* Adjust height as needed */
  background-color: gray; /* Background color */
  opacity:75%;
  border-radius:1rem;
}

.selected {
  background-color: white; /* Background color */
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
  outline: auto;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.skip-link:focus-visible {
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  width: auto;
  height: auto;
  margin: 0;
  clip: unset;
  text-decoration: none;
  color: black;
  z-index: 100;
}

@media not (prefers-reduced-motion) {
  .img-slider-img {
    transition: translate 300ms ease-in-out;
  }

  .img-slider-btn:hover > *,
  .img-slider-btn:focus-visible > * {
    animation: squish 200ms ease-in-out;
  }
}